# DATA PIPELINE DEVELOPMENT

## Extraction

In [64]:
#importing required libraries 
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [5]:
#load the dataset 
df=pd.read_csv("house_data1.csv")

In [7]:
#printing dataset data
print("Data Before Preprocessing:")
df.head()

Data Before Preprocessing:

,Id,Location,Size(BHK),Area(Sqft),Price,YearBuilt,Garage,Bathrooms,Furnishing
0,1,Hyderabad,3,1500.0,7500000.0,2015.0,1.0,2.0,Semi-Furnished
1,2,Bangalore,2,1100.0,5800000.0,2012.0,1.0,2.0,Fully-Furnished
2,3,Chennai,3,NaN,6200000.0,2014.0,1.0,2.0,Furnished
3,4,Mumbai,2,900.0,7000000.0,2010.0,0.0,1.0,Semi-Furnished
4,5,Delhi,4,2000.0,NaN,2016.0,2.0,3.0,Fully-Furnished

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          19 non-null     int64
 1   Location    19 non-null     object
 2   Size(BHK)   19 non-null     int64
 3   Area(Sqft)  18 non-null     float64
 4   Price       17 non-null     float64
 5   YearBuilt   18 non-null     float64
 6   Garage      17 non-null     float64
 7   Bathrooms   17 non-null     float64
 8   Furnishing  19 non-null     object
dtypes: float64(5), int64(2), object(2)
memory usage: 1.5+ KB

In [15]:
#all columns names of dataset 
df.columns

Index(['Id', 'Location', 'Size(BHK)', 'Area(Sqft)', 'Price', 'YearBuilt',
       'Garage', 'Bathrooms', 'Furnishing'],
      dtype='object')

In [19]:
#define X and Y Variables 
X = df.drop(columns=['Price', 'Id', 'name'], errors='ignore')  
y = df['Price']

In [21]:
X

,Location,Size(BHK),Area(Sqft),YearBuilt,Garage,Bathrooms,Furnishing
0,Hyderabad,3,1500.0,2015.0,1.0,2.0,Semi-Furnished
1,Bangalore,2,1100.0,2012.0,1.0,2.0,Fully-Furnished
2,Chennai,3,NaN,2014.0,1.0,2.0,Furnished
3,Mumbai,2,900.0,2010.0,0.0,1.0,Semi-Furnished
4,Delhi,4,2000.0,2016.0,2.0,3.0,Fully-Furnished
5,Hyderabad,3,1400.0,2013.0,1.0,NaN,Unfurnished
6,Bangalore,2,1200.0,2011.0,1.0,2.0,Furnished
7,Chennai,1,800.0,2008.0,0.0,1.0,Fully-Furnished
8,Mumbai,3,1600.0,2017.0,2.0,2.0,Semi-Furnished
9,Delhi,2,1000.0,2013.0,NaN,1.0,Unfurnished
10,Hyderabad,4,2100.0,2019.0,2.0,3.0,Fully-Furnished
11,Bangalore,3,1500.0,2014.0,1.0,2.0,Furnished
12,Chennai,2,950.0,2010.0,1.0,1.0,Unfurnished
13,Mumbai,1,700.0,2011.0,0.0,1.0,Furnished
14,Delhi,3,1700.0,NaN,2.0,2.0,Semi-Furnished
15,Hyderabad,2,1100.0,2012.0,1.0,NaN,Furnished
16,Bangalore,4,2200.0,2018.0,2.0,3.0,Fully-Furnished
17,Chennai,3,1450.0,2015.0,NaN,2.0,Unfurnished
18,Mumbai,2,1000.0,2013.0,1.0,1.0,Semi-Furnished

In [25]:
y

0     7500000.0
1     5800000.0
2     6200000.0
3     7000000.0
4           NaN
5     6800000.0
6     5600000.0
7     3500000.0
8     8200000.0
9     4800000.0
10    9000000.0
11          NaN
12    4200000.0
13    3900000.0
14    8100000.0
15    5700000.0
16    9500000.0
17    6200000.0
18    6000000.0
Name: Price, dtype: float64

In [27]:
#identify the numerical and categorivcal features in the dataset

In [33]:
#numeric features
numeric_features=['Size(BHK)', 'Area(Sqft)', 'YearBuilt', 'Garage', 'Bathrooms']
numeric_features

['Size(BHK)', 'Area(Sqft)', 'YearBuilt', 'Garage', 'Bathrooms']

In [35]:
#categorical features 
categorical_features=['Location', 'Furnishing']
categorical_features

['Location', 'Furnishing']

## Preprocessing

In [40]:
#checking null values
null=df.isnull()
null.sum()

Id            0
Location      0
Size(BHK)     0
Area(Sqft)    1
Price         2
YearBuilt     1
Garage        2
Bathrooms     2
Furnishing    0
dtype: int64

In [54]:
#filling the null values 
df=df.fillna('ffill')#replaced with forward values
#checking again count of nuull values 
df.isnull().sum()

Id            0
Location      0
Size(BHK)     0
Area(Sqft)    0
Price         0
YearBuilt     0
Garage        0
Bathrooms     0
Furnishing    0
dtype: int64

In [60]:
#applying scaling 
scaler = StandardScaler()#intializing standard scaler
columns_to_scale = ['Area(Sqft)', 'Price']# selecting columns to scale
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df

,Id,Location,Size(BHK),Area(Sqft),Price,YearBuilt,Garage,Bathrooms,Furnishing
0,1,Hyderabad,3,0.393193,0.573137,2015.0,1.0,2.0,Semi-Furnished
1,2,Bangalore,2,-0.540641,-0.427529,2012.0,1.0,2.0,Fully-Furnished
2,3,Chennai,3,-0.540641,-0.192078,2014.0,1.0,2.0,Furnished
3,4,Mumbai,2,-1.007558,0.278824,2010.0,0.0,1.0,Semi-Furnished
4,5,Delhi,4,1.560486,0.278824,2016.0,2.0,3.0,Fully-Furnished
5,6,Hyderabad,3,0.159735,0.161098,2013.0,1.0,3.0,Unfurnished
6,7,Bangalore,2,-0.307182,-0.545255,2011.0,1.0,2.0,Furnished
7,8,Chennai,1,-1.241017,-1.781373,2008.0,0.0,1.0,Fully-Furnished
8,9,Mumbai,3,0.626652,0.985177,2017.0,2.0,2.0,Semi-Furnished
9,10,Delhi,2,-0.774099,-1.016157,2013.0,2.0,1.0,Unfurnished
10,11,Hyderabad,4,1.793945,1.456079,2019.0,2.0,3.0,Fully-Furnished
11,12,Bangalore,3,0.393193,1.456079,2014.0,1.0,2.0,Furnished
12,13,Chennai,2,-0.890829,-1.369334,2010.0,1.0,1.0,Unfurnished
13,14,Mumbai,1,-1.474475,-1.545922,2011.0,0.0,1.0,Furnished
14,15,Delhi,3,0.860111,0.926314,2011.0,2.0,2.0,Semi-Furnished
15,16,Hyderabad,2,-0.540641,-0.486392,2012.0,1.0,2.0,Furnished
16,17,Bangalore,4,2.027403,1.750392,2018.0,2.0,3.0,Fully-Furnished
17,18,Chennai,3,0.276464,-0.192078,2015.0,2.0,2.0,Unfurnished
18,19,Mumbai,2,-0.774099,-0.309804,2013.0,1.0,1.0,Semi-Furnished

In [66]:
#encoding the cayegorical  columns 
# Create the encoder
le = LabelEncoder()
df['Location'] = le.fit_transform(df['Location'])
df['Furnishing'] = le.fit_transform(df['Furnishing'])
df

,Id,Location,Size(BHK),Area(Sqft),Price,YearBuilt,Garage,Bathrooms,Furnishing
0,1,3,3,0.393193,0.573137,2015.0,1.0,2.0,2
1,2,0,2,-0.540641,-0.427529,2012.0,1.0,2.0,0
2,3,1,3,-0.540641,-0.192078,2014.0,1.0,2.0,1
3,4,4,2,-1.007558,0.278824,2010.0,0.0,1.0,2
4,5,2,4,1.560486,0.278824,2016.0,2.0,3.0,0
5,6,3,3,0.159735,0.161098,2013.0,1.0,3.0,3
6,7,0,2,-0.307182,-0.545255,2011.0,1.0,2.0,1
7,8,1,1,-1.241017,-1.781373,2008.0,0.0,1.0,0
8,9,4,3,0.626652,0.985177,2017.0,2.0,2.0,2
9,10,2,2,-0.774099,-1.016157,2013.0,2.0,1.0,3
10,11,3,4,1.793945,1.456079,2019.0,2.0,3.0,0
11,12,0,3,0.393193,1.456079,2014.0,1.0,2.0,1
12,13,1,2,-0.890829,-1.369334,2010.0,1.0,1.0,3
13,14,4,1,-1.474475,-1.545922,2011.0,0.0,1.0,1
14,15,2,3,0.860111,0.926314,2011.0,2.0,2.0,2
15,16,3,2,-0.540641,-0.486392,2012.0,1.0,2.0,1
16,17,0,4,2.027403,1.750392,2018.0,2.0,3.0,0
17,18,1,3,0.276464,-0.192078,2015.0,2.0,2.0,3
18,19,4,2,-0.774099,-0.309804,2013.0,1.0,1.0,2

In [68]:
#building the pipeline

In [70]:

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

In [72]:
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

In [74]:
#combine the both using Columntransfer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [78]:
# run the pipeline on data
processed_data = preprocessor.fit_transform(df)

## Loading

In [83]:
processed_df = pd.DataFrame(processed_data.toarray() if hasattr(processed_data, 'toarray') else processed_data)

In [85]:
print("final ETL pteprocessed Data")
print(processed_df)

final ETL pteprocessed Data
          0         1         2         3         4    5    6    7    8    9   \
0   0.479808  0.393193  0.614705 -0.303239  0.146647  0.0  0.0  0.0  1.0  0.0
1  -0.659736 -0.540641 -0.447058 -0.303239  0.146647  1.0  0.0  0.0  0.0  0.0
2   0.479808 -0.540641  0.260784 -0.303239  0.146647  0.0  1.0  0.0  0.0  0.0
3  -0.659736 -1.007558 -1.154901 -1.743626 -1.246500  0.0  0.0  0.0  0.0  1.0
4   1.619352  1.560486  0.968627  1.137147  1.539795  0.0  0.0  1.0  0.0  0.0
5   0.479808  0.159735 -0.093137 -0.303239  1.539795  0.0  0.0  0.0  1.0  0.0
6  -0.659736 -0.307182 -0.800980 -0.303239  0.146647  1.0  0.0  0.0  0.0  0.0
7  -1.799280 -1.241017 -1.862743 -1.743626 -1.246500  0.0  1.0  0.0  0.0  0.0
8   0.479808  0.626652  1.322548  1.137147  0.146647  0.0  0.0  0.0  0.0  1.0
9  -0.659736 -0.774099 -0.093137  1.137147 -1.246500  0.0  0.0  1.0  0.0  0.0
10  1.619352  1.793945  2.030390  1.137147  1.539795  0.0  0.0  0.0  1.0  0.0
11  0.479808  0.393193  0.260784 -0.303239  0.146647  1.0  0.0  0.0  0.0  0.0
12 -0.659736 -0.890829 -1.154901 -0.303239 -1.246500  0.0  1.0  0.0  0.0  0.0
13 -1.799280 -1.474475 -0.800980 -1.743626 -1.246500  0.0  0.0  0.0  0.0  1.0
14  0.479808  0.860111 -0.800980  1.137147  0.146647  0.0  0.0  1.0  0.0  0.0
15 -0.659736 -0.540641 -0.447058 -0.303239  0.146647  0.0  0.0  0.0  1.0  0.0
16  1.619352  2.027403  1.676469  1.137147  1.539795  1.0  0.0  0.0  0.0  0.0
17  0.479808  0.276464  0.614705  1.137147  0.146647  0.0  1.0  0.0  0.0  0.0
18 -0.659736 -0.774099 -0.093137 -0.303239 -1.246500  0.0  0.0  0.0  0.0  1.0

     10   11   12   13
0   0.0  0.0  1.0  0.0
1   1.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0
3   0.0  0.0  1.0  0.0
4   1.0  0.0  0.0  0.0
5   0.0  0.0  0.0  1.0
6   0.0  1.0  0.0  0.0
7   1.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0
9   0.0  0.0  0.0  1.0
10  1.0  0.0  0.0  0.0
11  0.0  1.0  0.0  0.0
12  0.0  0.0  0.0  1.0
13  0.0  1.0  0.0  0.0
14  0.0  0.0  1.0  0.0
15  0.0  1.0  0.0  0.0
16  1.0  0.0  0.0  0.0
17  0.0  0.0  0.0  1.0
18  0.0  0.0  1.0  0.0

In [87]:
processed_df.to_csv("etl_output.csv", index=False)